body, html{
    height: 100%;
}

.movie-base{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100%;
    overflow: hidden;
}
.movie-side-block{
    margin: 60px 0px;
    width: 100%;
    height: 400px;
}
.movie-side-block-up{
    display: flex;
    flex-flow: row;
}
.movie-side-block-up-left{
    height: 130px;
    width: 360px;
    max-width: 360px;
    min-width: 0;
    background-color: rgba(1,82,160,0.8);
}
.movie-side-block-up-right{
    height: 130px;
    width: 360px;
    min-width: 360px;
    background-color: rgba(1,82,160,0.8);
}
.movie-side-block-down{
    display: flex;
    flex-flow: row;
}
.movie-side-block-down-left{
    height: 270px;
    width: 360px;
    max-width: 360px;
    min-width: 0px;
    background-color: rgba(0,0,0,0.5);
}
.movie-side-block-down-right{
    height: 270px;
    width: 360px;
    max-width: 360px;
    min-width: 0px;
    background-color: rgba(0,0,0,0.5);
    padding-top: 30px;
}
.movie-side-up-title{
    color: #FFF;
}
.movie-side-down-img{
    width: 150px;
    margin-top: -20px;
}
.movie-side-down-ins{
    max-width: 150px;
    display: inline-block;
    color: #ffffff;
    margin-left: 10px;
}
.movie-bottom{
    margin: 100px;
    height: 170px;
    width: 100%;
}
.movie-bottom-center{
    height: 170px;
    width: 80px;
    min-width: 1000px;
    padding-top: 10px;
}
.movie-li-title-p{
    color: #FFF;
    font-size: 13px;
    text-align: center;
}