# abulimity
# 2018-06-23

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini


# Dump file
*.stackdump

# Pyrhon
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jetbrain Pycharm
.idea/
