{% extends 'etl\base.html' %}
{% block head %}
    <title>ETL 表单</title>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <form method="post" id="testform" enctype="multipart/form-data" class="form-horizontal">
            {% csrf_token %}
            <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group" id="fg_user_name">
                    <label class="control-label" for="id_user_name">姓名：</label>
                    <input type="text" class="form-control" id="id_user_name" name="user_name"/>
                </div>
            </div>
            <div class="col-lg-6 col-md-6"></div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group" id="fg_source_container">
                        <label class="control-label" for="id_source_container">数据源：</label>
                        <select class="form-control" id="id_source_container" name="source_container">
                            <option value="">--------</option>
                            <option id="id_option_1" value="1">上传CSV文件</option>
                            <option id="id_option_2" value="2">MK</option>
                            <option id="id_option_3" value="3">SJGL</option>
                            <option id="id_option_4" value="4">ODS.SELECT_1010</option>
                            <option id="id_option_5" value="5">ODS.APP_1010_MK</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group" id="fg_target_container">
                        <label class="control-label" for="id_target_containe">目标：</label>
                        <select class="form-control" id="id_target_container" name="target_container">
                            <option value="">--------</option>
                            <option id="id_option_6" value="6">下载文件</option>
                            <option id="id_option_7" value="7">MK</option>
                            <option id="id_option_8" value="8">SJGL</option>
                            <option id="id_option_9" value="9">ODS.SELECT_1010</option>
                            <option id="id_option_10" value="10">ODS.APP_1010_MK</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group" id="fg_source_table">
                        <label class="control-label" for="id_source_table">源数据库表名：</label>
                        <input type="text" class="form-control" id="id_source_table" name="source_table">
                    </div>
                    <div class="form-group" id="fg_source_file">
                        <label class="control-label" for="id_source_file">选择文件：</label>
                        <input type="file" id="id_source_file" name="source_file" onchange="$('#id_source_file_path').val($('#id_source_file').val());" style="display: none">
                        <input type="text" id="id_source_file_path" name="source_file_path" class="form-control" readonly>
                        <input type="button"class="btn btn-default" onclick="$('#id_source_file').click();" value="浏览" id="id_source_file_btn">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group" id="fg_target_table">
                        <label class="control-label" for="id_target_table">目标数据库表名：</label>
                        <input type="text" class="form-control" id="id_target_table" name="target_table">
                    </div>
                    <div class="form-group" id="fg_truncate">
                        <label class="control-label">是否清空目标表：
                            <label class="radio-inline" for="id_truncate_y" id="l_truncate">
                                <input type="radio" name="truncate" id="id_truncate_y" value="1">是
                            </label>
                            <label class="radio-inline" for="id_truncate_n" id="l_truncate">
                                <input type="radio" name="truncate" id="id_truncate_n" value="0" checked>否
                            </label>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <input class="btn btn-default"  type="button" id="id_submitTask" value="提交任务"/>
                <input class="btn btn-default" type="button" id="id_reviewCSV" value="预览"/>
            </div>
        </form>
    </div>
    <hr>
    <div class="container-fluid">
        <p id="test_js"></p>
    </div>


    <script>
        $(document).ready(function () {
            $("#fg_source_file").hide();
            $("#id_submitForm").hide();

            {# 判断目标选择 #}
            $(document).on('change','#id_source_container',function () {

               var choosed = $("#id_source_container").val();
                if (choosed == '1'){
                   $("#id_source_file").removeAttr("disabled");
                   $("#fg_source_file").show();
                   $("#id_source_table").attr("disabled","");
                   $("#fg_source_table").hide();
                   $("#id_option_6").hide();
                }
                if (choosed != '1'){
                   $("#id_source_table").removeAttr("disabled");
                   $("#fg_source_table").show();
                   $("#id_source_file").attr("disabled",'');
                   $("#id_source_file").removeAttr("required");
                   $("#fg_source_file").hide();
                   $("#id_option_6").show();
                }
            });
            {# 判断目标选择 #}
            $(document).on('change','#id_target_container',function () {
               var choosed = $("#id_target_container").val();
                if (choosed == '6'){
                   $("#id_target_table").attr({"disabled":''});
                   $("#fg_target_table").hide();
                   $("#id_truncate").attr("disabled",'');
                   $("#fg_truncate").hide();
                   $("#id_option_1").hide();
                }if (choosed != '6'){
                   $("#id_target_table").removeAttr("disabled");
                   $("#fg_target_table").show();
                   $("#id_truncate").removeAttr("disabled");
                   $("#fg_truncate").show();
                   $("#id_option_1").show();
                }
            });
            {# AJAX 预览文件内容 #}
            $(document).on('click','#id_reviewCSV',function () {
                if ($("#id_user_name").val()==""){
                    $("#fg_user_name").addClass('has-error');
                }else{
                    $("#fg_user_name").removeClass('has-error');
                    if ($("#id_source_container").val()==""){
                        $("#id_source_container").addClass('has-error');
                        if ( $("#id_source_container").next('span').val()=="") {
                        }else {
                            $("#id_source_container").after('<span id="error_message" class="help-block" style="color: #c9302c">请选择数据源！</span>');
                        }
                    }else{
                        $("#id_source_container").next('span').remove();
                        if ($("#id_source_file").val()==""){
                        if ( $("#id_source_file_btn").next('span').val()=="") {
                        }else {
                            $("#id_source_file_btn").after('<span id="error_message" class="help-block" style="color: #c9302c">请选择文件！</span>');
                        }
                } else {
                            $("#id_source_file_btn").next('span').remove();
                            $.ajax({
                            url:'/etl/display/',
                            type:'post',
                            cache:false,
                            data:new FormData($("#testform")[0]),
                            processData:false,
                            contentType:false,
                            success:function (data) {
                                $("#test_js").html(data);
                                $("#id_submitForm").show();
                            }
                        });
                }}}
            })
            {#验证目标表是否存在#}
            $("#id_target_table").on('focusout',function () {
                if ($("#id_target_container").val()==""){
                            if ( $("#id_target_container").next('span').val()=="") {
                            }else {
                                $("#id_target_container").after('<span id="error_message" class="help-block" style="color: #c9302c">请选择目标！</span>');
                            }
                        }else{
                            $("#id_target_container").next('span').remove();
                            if ($("#id_target_table").val()==""){
                                        $("#fg_target_table").addClass('has-error');
                                    }else{
                                        $("#fg_target_table").removeClass('has-error');
                                         $.ajax({
                    url:'/etl/checkTable/',
                    type:'post',
                    data:new FormData($("#testform")[0]),
                    processData:false,
                    contentType:false,
                    success:function (res) {
                        if (res=='0')  {
                            console.log('get');
                                if ( $("#id_target_table").next('span').val()=="") {
                                }else {
                                    $("#id_target_table").after('<span id="error_message" class="help-block" style="color: #c9302c">表不存在！</span>');
                                }
                        }else{
                            $("#id_target_table").next('span').remove();
                        }
                    }
                })
            }}});

            {# AJAX 提交任务 #}
            $(document).on('click','#id_submitTask',function () {
                if ($("#id_user_name").val()==""){
                    $("#fg_user_name").addClass('has-error');
                }else{
                    $("#fg_user_name").removeClass('has-error');
                    if ($("#id_source_container").val()==""){
                        $("#id_source_container").addClass('has-error');
                        if ( $("#id_source_container").next('span').val()=="") {
                        }else {
                            $("#id_source_container").after('<span id="error_message" class="help-block" style="color: #c9302c">请选择数据源！</span>');
                        }
                    }else{
                        $("#id_source_container").next('span').remove();
                        if ($("#id_target_container").val()==""){
                            if ( $("#id_target_container").next('span').val()=="") {
                            }else {
                                $("#id_target_container").after('<span id="error_message" class="help-block" style="color: #c9302c">请选择目标！</span>');
                            }
                        }else{
                            $("#id_target_container").next('span').remove();
                            if ($("#id_source_file").val()==""){
                                if ( $("#id_source_file_btn").next('span').val()=="") {
                                }else {
                                    $("#id_source_file_btn").after('<span id="error_message" class="help-block" style="color: #c9302c">请选择文件！</span>');
                                }
                            } else {
                                    $("#id_source_file_btn").next('span').remove();
                                    if ($("#id_target_table").val()==""){
                                        $("#fg_target_table").addClass('has-error');
                                    }else{
                                        $("#fg_target_table").removeClass('has-error');
                                        var progress = setInterval(function () {
                                            $.ajax({
                                                url:'/etl/showProgress/',
                                                type:'post',
                                                data:'',
                                                success:function (res) {
                                                    console.log(res);
                                                    $("#test_js").text(res);
                                                }
                                            })
                                        },1000);
                                        console.log('get');
                                        var formData = new FormData($("#testform")[0]);
                                        $.ajax({
                                        url:'/etl/submittask/',
                                        type:'post',
                                        cache:false,
                                        data:formData,
                                        processData:false,
                                        contentType:false,
                                        success:function (data) {
                                            clearInterval(progress);
                                            $("#test_js").text(data);
                                        }
                                    });
                                }
                            }
                        }
                    }
                }
            })
            {# 子页面脚本 #}
                $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                      e.target // newly activated tab
                      e.relatedTarget // previous active tab
                })
            })


    </script>
{% endblock %}