<!DOCTYPE html>
<html lang="en">
<head>
    {% load static  %}
    <meta charset="UTF-8">
    {% block head %}

    {% endblock %}

    <link rel="icon" href="{% static 'base.html' %}">
   {# 调试使用 #}
    <link rel="stylesheet" href="{% static "etl/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static 'etl/css/movie.css' %}">
    <script type="application/javascript" src="{% static 'etl/js/jquery-3.3.1.js' %}"></script>
    <script type="application/javascript" src="{% static 'etl/js/bootstrap.js' %}"></script>
    {# 调试结束 #}




</head>
<body>
    {% block body %}

    {% endblock %}
</body>
</html>